<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <Title th:text="${Title}"></Title>
</head>
<body>
<h3>Введите логин и пароль:</h3>

<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>

<form th:action="@{/login}" action="/userPage" method="post">
            <h4>Логин:</h4>
            <input type="text" name="username"/>
    <br>
           <h4>Пароль:</h4>
            <input type="password" name="password" />
    <br>
    <br>
    <br>
            <button type="submit">Вход</button>
    <br>
    <br>
    <a href="/userPage">Страница пользователя</a>
</form>
<br>
<br>
<h3>Логин/Пароль:</h3>
<ul>
    <li>Хмельнин А.С./123</li>
    <li>Захаева А.А./123</li>
    <li>Вахаев Б.П./123</li>
    <li>Лучикова Н.Г./123</li>
    <li>Красаев Н.Е./123</li>
</ul>
</body>
</html>