*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    background-color: #333;
    font-family: Arial, "Helvetica Neua", Helvetica, sans-serif;
}
/*......................*/

.form {
max-width: 550px;
    margin: 0px auto;
    color: #fff;
    padding: 30px 0;
}
.form * {
    outline: none;
}
.form_body {

}
.form_title {
    font-size: 40px;
    font-weight: 700;
    margin: 0px 0px 30px 0px;
}
.form_item {
    margin: 0px 0px 20px 0px;
}
.form_label {
    font-size: 18px;
    display: block;
    margin: 0px 0px 10px 0px;
}
.form_input {
    height: 50px;
    padding: 0px 20px;
    border-right: 5px;
    width: 100%;
    font-size: 18px;
}

textarea.form_input {
    min-height: 120px;
    resize: vertical;
    padding: 20px;
}

.select {
    height: 30px;
    width: 100%;
    border-radius: 20px;
    font-size: 18px;
    padding: 0px 10px;
}
.form_button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    background-color: #7a956b;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 5px 0 #161b13;
    transition: all 0.5s ease 0s;
    position: relative;
    top: 0;
}
.form_button:hover {
    background-color: #4f6146;

}
.form_button:active {
    top: 3px;
    box-shadow: 0 2px 0 #161b13;
}